.tc-site-title  {
	font-family: "Palatino Linotype" !important;
}

.tc-titlebar { & .tc-title, &.tc-edit-texteditor {
	font-family: "Palatino Linotype" !important;
} }

:is(
.tc-tiddler-body > :is(h1, h2, h3), 
.tc-tiddler-preview-preview > :is(h1, h2, h3),
.tc-tiddler-body .tc-tab-content > .tc-reveal > :is(h1, h2, h3))
:not(
.tc-control-panel :is(h1, h2, h3)) {
	font-family: "Palatino Linotype" !important;
	font-weight: bold;
}
